nav {
  li {
    list-style: none;
    background-color: #555;
    max-width: 50%;
    text-align: center;
    margin: 4em auto;
    padding: 1em 0;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
